version: "3.9"

services:
  bot:
    build: .
    container_name: fox_tg_summarizer_bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs











